= form_with model: user, url: sessions_path, method: :post, local: true do |form|
  .field
    = form.label :email
    %br/
    = form.email_field :email, autofocus: true, autocomplete: "email", required: true
  .field
    = form.label :password
    %br/
    = form.password_field :password, autocomplete: "current-password", required: true
  .actions
    = form.submit "Log in"
