%main.js-RecipeEditor
  %h1 editing recipe

  - recipe_builder_presenter = RecipeBuilderPresenter.new(@recipe)

  - ingredients = @recipe.ingredients
  - steps = recipe_builder_presenter.steps
  - tips = @recipe.tips
  - tools = @recipe.tools

  - step_options = recipe_builder_presenter.step_options

  = form_with(model: @recipe, method: "patch") do |form|
    = form.label(:title, "Title")
    = form.text_field(:title)
    = form.label(:description, "Description")
    = form.text_area(:description)
    = form.fields_for :images do |image_builder|
      = form.label(:text_processed, "Only PNG and Jpeg are acceptable")
      = image_builder.file_field :file, accept: 'image/png,image/jpeg'
    = form.label(:date_published, "Date Published")
    = form.date_field(:date_published)
    = form.submit("update")

  .RecipeView__parsed-lines-container
    - @recipe.parsed_lines.where(deleted: false).each do |line|
      .RecipeView__parsed-line-item-container
        .RecipeView__parsed-line-text=line.content
        - if line.deleted
          Deleted true
        - else
          = link_to 'Delete line', recipe_parsed_line_path(@recipe, line, {type: line.class}), data: {confirm: 'Are you sure?'}, method: :patch, class: 'RecipeView__parsed-line-delete' 

        .RecipeView__parsed-line-actions-container
          .RecipeView__parsed-line-action-container
            = label_tag 'Ingredient'
            = check_box_tag :ingredient, line.id, false, class: 'js-RecipeEditor__ingredient-checkbox', data: {content: line.content, recipe_id: line.recipe_id}
          .RecipeView__parsed-line-action-container
            = label_tag 'Step'
            = check_box_tag :step, line.id, false, class: 'js-RecipeEditor__step-checkbox', data: {content: line.content, recipe_id: line.recipe_id}
          .RecipeView__parsed-line-action-container
            = label_tag 'Tip'
            = check_box_tag :tip, line.id, false, class: 'js-RecipeEditor__tip-checkbox', data: {content: line.content, recipe_id: line.recipe_id}
          .RecipeView__parsed-line-action-container
            = label_tag 'Tool'
            = check_box_tag :tool, line.id, false, class: 'js-RecipeEditor__tool-checkbox', data: {content: line.content, recipe_id: line.recipe_id}

  .RecipeView__builder-commands-container
    .RecipeView__add-ingredients
      = link_to 'Add selected ingredients to recipe', '#', class: 'js-RecipeView__add-ingredients'
    .RecipeView__add-tools
      = link_to 'Add selected tools to recipe', '#', class: 'js-RecipeView__add-tools'
    .RecipeView__add-tip
      = link_to 'Add selected tip to recipe', '#', class: 'js-RecipeView__add-tip', data: {recipe_id: @recipe.id}
    .RecipeView__add-step
      = select_tag 'choose step', options_for_select(step_options)
      = link_to 'Add selected lines to step', '#', class: 'js-RecipeView__add-step'

  %h2 ingredients
  .RecipeView__ingredients-container
    - ingredients.each do |ingredient|
      .RecipeView__ingredient-item-container
        = form_with(url: recipe_ingredient_path(@recipe.id, ingredient.id), model: ingredient, method: "patch") do |form|
          = form.text_area(:content, class: 'RecipeView__ingredient-content')
          = form.submit("update")
        = link_to('Delete', recipe_ingredient_path(@recipe.id, ingredient.id), method: :delete, data: {confirm: 'Are you sure you want to delete this ingredient?'})
    .RecipeView__ingredient-item-container
      = form_with(url: recipe_ingredients_path(@recipe.id), model: Ingredient.new(recipe_id: @recipe.id), method: "post") do |form|
        = form.text_area(:content, class: 'js-RecipeView__ingredient-create-form-content RecipeView__ingredient-content', data: {recipe_id: @recipe.id})
        = form.submit("create", class: 'js-RecipeView__ingredient-create-button')

  %h2 tools
  .RecipeView__tools-container
    - tools.each do |tool|
      .RecipeView__tool-item-container
        = form_with(url: recipe_tool_path(@recipe.id, tool.id), model: tool, method: "patch") do |form|
          = form.text_area(:content, class: 'RecipeView__tool-content')
          = form.submit("update")
      = link_to('Delete', recipe_tool_path(@recipe.id, tool.id), method: :delete, data: {confirm: 'Are you sure you want to delete this tool?'})
    .RecipeView__tool-item-container
      = form_with(url: recipe_tools_path(@recipe.id), model: Tool.new(recipe_id: @recipe.id), method: "post") do |form|
        = form.text_area(:content, class: 'js-RecipeView__tool-create-form-content RecipeView__tool-content', data: {recipe_id: @recipe.id})
        = form.submit("create", class: 'js-RecipeView__tool-create-button')

  %h2 tips
  .RecipeView__tips-container
    - tips.each do |tip|
      .RecipeView__tip-item-container
        = form_with(url: recipe_tip_path(@recipe.id, tip.id), model: tip, method: "patch", data: {recipe_id: @recipe.id}) do |form|
          = form.text_area(:content, class: 'RecipeView__tip-content')
          = form.submit("update")
      = link_to('Delete', recipe_tip_path(@recipe.id, tip.id), method: :delete, data: {confirm: 'Are you sure you want to delete this tip?'})
    .RecipeView__tip-item-container
      = form_with(url: recipe_tip_path(@recipe.id), model: Tip.new(recipe_id: @recipe.id), method: "post", class: 'js-RecipeView__tip-create-form', data: {recipe_id: @recipe.id}) do |form|
        = form.text_area(:content, class: 'js-RecipeView__tip-create-form-content RecipeView__tip-content', data: {recipe_id: @recipe.id})
        = form.submit("create", class: 'js-RecipeView__tip-create-button')

  %h2 steps

  - steps.each do |step|
    .RecipeView__steps-container
      = form_with(url: recipe_step_path(@recipe.id, step.id), model: step, method: "patch") do |form|
        = form.label(:title, "Title")
        = form.text_field(:title, class: 'RecipeView__step-title')
        = form.label(:content, "Content")
        = form.text_area(:content, class: 'RecipeView__step-content')
        = form.submit("update")
      = link_to('Delete', recipe_step_path(@recipe.id, step.id), method: :delete, class: 'js-RecipeView__step-delete-button', data: {confirm: 'Are you sure you want to delete this step?'})

  .RecipeView__steps-container
    = form_with(url: recipe_steps_path(@recipe.id), model: Step.new(recipe_id: @recipe.id), method: "post", class: 'js-RecipeView__step-create-form', data: {recipe_id: @recipe.id}) do |form|
      = form.label(:title, "Title")
      = form.text_field(:title, class: 'js-RecipeView__step-create-title RecipeView__step-title')
      = form.label(:content, "Content")
      = form.text_area(:content, class: 'js-RecipeView__step-create-content RecipeView__step-content')
      = form.submit("create", class: 'js-RecipeView__step-create-button')


  %ul.RecipeView__tabs
    %li.RecipeView__tab{"data-tab-target" => "#recipe-view-ingredients"} Ingredients
    %li.RevipeView__tab.RevipeView__active-tab-label{"data-tab-target" => "#recipe-view-tools-tips"} Tools & Tips
    %li.RevipeView__tab{"data-tab-target" => "#recipe-view-steps"} Steps
  .RecipeView__tab-content-container
    #recipe-view-ingredients.RecipeView__tab-content{"data-tab-content" => ""}
      %h3 My Trips
      %p These are my trips
    #recipe-view-tools-tips.RecipeView__tab-content.RecipeView__active-tab-content{"data-tab-content" => ""}
      %h3 tools and tips
      %p These are my tools and tips
    #recipe-view-steps.RecipeView__tab-content{"data-tab-content" => ""}
      %h3 Saved Villas
      %p These are my saved villas

  .RecipeView__images-container
    - @recipe.images.with_attached_file.each do |image|
      .RecipeView__image-container
        = image_tag url_for(image.file)
        - if image.text_processed
          .RecipeView__image-status
            Image Has Been Parsed
        - else
          = link_to 'Parse Text', recipe_image_path(@recipe, image), data: {confirm: 'Are you sure?'}, method: :patch 
        = link_to 'Delete Image', recipe_image_path(@recipe, image), data: {confirm: 'Are you sure?'}, method: :delete 
