%main.js-RecipeEditor
  %h1 editing recipe

  - ingredients = @recipe.ingredients
  - steps = @recipe.steps
  - tools = @recipe.tools

  - step_options = steps.map do |step|
    - number = step.position + 1
    - [number.ordinalize, step.id]

  = form_with(model: @recipe, method: "patch") do |form|
    = form.label(:title, "Title")
    = form.text_field(:title)
    = form.label(:description, "Description")
    = form.text_area(:description)
    = form.fields_for :images do |image_builder|
      = form.label(:text_processed, "Only PNG and Jpeg are acceptable")
      = image_builder.file_field :file, accept: 'image/png,image/jpeg'
    = form.label(:date_published, "Date Published")
    = form.date_field(:date_published)
    = form.submit("update")


  .RecipeView__full-text-container
    = @recipe.full_text


  .RecipeView__images-container
    - @recipe.images.with_attached_file.each do |image|
      .RecipeView__image-container
        = image_tag url_for(image.file)
        - if image.text_processed
          .RecipeView__image-status
            Image Has Been Parsed
        - else
          = link_to 'Parse Text', recipe_image_path(@recipe, image), data: {confirm: 'Are you sure?'}, method: :patch 
        = link_to 'Delete Image', recipe_image_path(@recipe, image), data: {confirm: 'Are you sure?'}, method: :delete 
