%main.recipes
  %h1 new
  = form_with(model: @recipe, method: "post") do |form|
    = form.label(:title, "Title")
    = form.text_field(:title)
    = form.label(:description, "Description")
    = form.text_area(:description)
    = form.fields_for :images do |image_builder|
      = image_builder.file_field :file
    = form.label(:date_published, "Date Published")
    = form.date_field(:date_published)
    = form.submit("create")
