%main.RecipeView.text-lg.js-RecipeShow{'data-recipe-id': @recipe.id}
  .RecipeView__header
  %h2= @recipe.title
  - if @recipe.web_recipe.present?
    = link_to("Visit Original recipe", @recipe.web_recipe.full_path, target: '_blank')
  - if current_user.present? && current_user.id == @recipe.user_id
    = link_to("Edit Recipe", edit_recipe_path(@recipe.id), class: 'button')

  .RecipeView__images-container{'data-images-container': ''}
    - @recipe.images.order(featured: :desc).with_attached_file.each do |image|
      .RecipeView__image-container.js-RecipeShow__image
        .actions.flex
          %button.js-rotate-left-btn
            Rotate Left
          %button.js-rotate-right-btn
            Rotate right
          %button.js-shrink
            Shrink
          %button.js-grow
            Grow
        - if image.file.present? && image.file.attached?
          = image_tag url_for(image.file), alt: image.alt_text, data: {'image-id' => image.id}
        - if current_user.id == @recipe.user_id
          = link_to 'Delete Image', recipe_image_path(@recipe, image), data: {confirm: 'Are you sure?'}, method: :delete 

        - if image.featured.blank? && current_user.id == @recipe.user_id 
          = link_to 'Make Featured', "/recipes/#{@recipe.id}/images/#{image.id}/featured", method: :patch 

  .RecipeView__full-text-container
    = @recipe.full_text

