%main.RecipeView.js-RecipeShow
  .RecipeView__header
  %h2= @recipe.title
  - if @recipe.web_recipe.present?
    = link_to("Visit Original recipe", @recipe.web_recipe.full_path, target: '_blank')
  = link_to("Edit Recipe", edit_recipe_path(@recipe.id), class: 'button')
  .RecipeView__full-text-container
    = @recipe.full_text


  .RecipeView__images-container
    - @recipe.images.with_attached_file.each do |image|
      .RecipeView__image-container.js-RecipeShow__image
        %button.js-rotate-left-btn
          Rotate Left
        %button.js-rotate-right-btn
          Rotate right
        %button.js-shrink
          Shrink
        %button.js-grow
          Grow
        = image_tag url_for(image.file)
        - if image.text_processed
          .RecipeView__image-status
            Image Has Been Parsed
        - else
          = link_to 'Parse Text', recipe_image_path(@recipe, image), data: {confirm: 'Are you sure?'}, method: :patch 
        = link_to 'Delete Image', recipe_image_path(@recipe, image), data: {confirm: 'Are you sure?'}, method: :delete 

        - if image.featured.blank?
          = link_to 'Make Featured', "/recipes/#{@recipe.id}/images/#{image.id}/featured", method: :patch 
