- if user.valid_reset_password_link?
  .form--container-center
    %h3 Enter Your New Password
    %p
      Enter your new password for #{user.email}.

    = form_with model: user, url: password_path(user), method: :patch do |form|
      = form.hidden_field :reset_password_token
      = form.password_field :password

      = form.submit 'Confirm New Password'
- else
  %h1 Oops
  %p The password reset link provided was invalid, please try again.
