!!!
%html
  %head
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}

    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TheWholeEnchilada
    = action_cable_meta_tag
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag "application", "data-turbo-track": "reload"
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .modal.flex.hidden{ 'data-spinner-modal': ''}
      = image_pack_tag 'svgs/spinner.svg', class: 'spinner'
    %h2.flash-messages
      .text-green-700
        = flash[:success]
      .text-indigo-700
        = flash[:notice]
      .text-red-700
        = flash[:error]
      .text-yellow-700
        = flash[:alert]
    = render 'layouts/navigation'
    .content
      - if params[:reset_password_token]
        - user = User.find_and_assign_by_reset_password(params[:reset_password_token]) || NullUser.new
        = render partial: 'layouts/reset_password_callback', locals: {reset_password_token: params[:reset_password_token], user: user}
      - elsif params[:confirmation_token]
        = render 'layouts/confirmation_callback'
      - else
        = yield
