!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TheWholeEnchilada
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield
    - if params[:reset_password_token]
      = component 'reset_password_modal'
      = render 'layouts/reset_password_callback'
    - if params[:confirmation_token]
      = render 'layouts/confirmation_callback'
